<%- include("partials/header"); -%>

<div class="container">
<h1>Your Entries</h1>
  <% var titles = titlePost; %>
  <% var posts = userWithSecrets; %>
  <% for(var i=0;i<titles.length;i++){ %>
    <h2>⦿ <%= titles[i]%></h2>
    <p><%= posts[i] %> </p>
  <% } %>

</div>
<%- include("partials/footer"); -%>
